*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}
body{
    min-height: 100vh;              
    background-color: #212121; color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}
.counter-panel{
    text-align: center;
    border: 4px greenyellow;
    border-style: solid;
    width: 52%;
    min-width: 520px;
    min-height: 260px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;



}
h1{
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    padding: 5px 10px ;
    letter-spacing: 2px;
    
}
#el-count{
    font-size: 3rem;
    font-size: bold;
    margin: 5px 5px;
}

.increament-button{
    height: 65px;
    background-color: rgb(209, 179, 80);
    color: rgb(20, 22, 16);
    width: 150px;
    font-size: xx-large;
    font-weight: bolder;
    border: solid 3px rgb(119, 122, 115);
    border-radius: 22px;
    margin: 10px;
    cursor: pointer;
    
    transition: transform 0.12s ease, box-shadow 0.12s ease;
}
.increament-button:hover{
    color: white;
    background: rgb(15, 15, 15);
    box-shadow: 6px 6px 8px  rgb(143, 153, 129);
     transition: 0.4s;
}
.increament-button:active{
    background-color: rgb(0, 0, 0)  ;
    color: white;
   
    translate: 8px 8px 0px ;
    box-shadow:0px 0px;
}